---
layout: default
title: GitLab.com
description: "Host your projects on GitLab.com and supercharge your projects with issue tracking, CI/CD, monitoring, and much more."
suppress_header: true
extra_css:
  - gitlab-com.css
  - pricing.css
  - compared.css
extra_js:
  - faq.js
  - bootstrap-tooltip.js
---

-# HARK;GENERATED CONTENT BELOW!
-# The below block is generated by data from /data/gitlab_com.yml file.
-# This is where you will want to look to edit the content of the page.

.pricing-options.text-center
  .container
    .row{ data: { equal: ".col-md-4" } }
      %h2
        Below is the GitLab.com hosted SaaS offering, you can host it yourself with our #{link_to 'Products', '/products'}
      %h2
        We ❤️ open source. Public projects get all Gold plan features for free.
      %br/
      - data.gitlab_com.prices.free_plan do |plan|
        .col-md-4.col-lg-3.col-lg-offset-0.col-md-offset-2
          .featured-item
            .edition-name.edition-enterprise
              = plan.title
            .featured-item-body
              %p.edition-description
                Free has unlimited private repositories and unlimited collaborators on a project.
              .edition-pricing
                %h2.text-center.featured-item-headline
                  = plan.monthly
              .edition-actions
                = link_to plan.link_text, plan.link, class: "btn cta-btn red primary"
              = link_to "View More ", "#free-plan", class: "featured-item-expand"
              %ul#free-plan.featured-item-list.list-unstyled
                %li.item-description
                  = plan.description
                %li.line-separator
                %li.item-description
                  = plan.support
                - data.features.features.each do |feature|
                  - if (feature.gitlab_ce == true && feature.gitlab_com != false && feature.feature_page == true)
                    %li.line-separator
                    %li.item-description
                      - if (feature.link != nil)
                        = link_to feature.title, feature.link
                      - if (feature.link == nil)
                        = feature.title
                      - if (feature.description != "" && feature.description != nil)
                        %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}
      - data.gitlab_com.prices.bronze_plan do |plan|
        .col-md-4.col-lg-3.col-lg-offset-0.col-md-offset-2
          .featured-item
            .edition-name.edition-enterprise
              = plan.title
            .featured-item-body
              %p.edition-description
                For teams that need access to more advanced workflow features.
              .edition-pricing
                %h2.col-md-6.featured-item-headline
                  = plan.monthly
                %h3.col-md-6.featured-item-headline-small
                  per user
                  %br
                  per month
                %h4.col-md-12.featured-item-headline-smaller
                  paid annually at
                  = plan.yearly
              .edition-actions
                = link_to plan.link_text, plan.link, class: "btn cta-btn red primary"
              = link_to "View More ", "#bronze-plan", class: "featured-item-expand"
              %ul#bronze-plan.featured-item-list.list-unstyled
                %li.item-description
                  %strong
                    All features from Free and:
                %li.line-separator
                %li.item-description
                  = plan.description
                - data.features.features.each do |feature|
                  - if (feature.gitlab_ce == false && feature.gitlab_ees == true && feature.gitlab_com != false)
                    %li.line-separator
                    %li.item-description
                      - if (feature.link != nil)
                        = link_to feature.title, feature.link
                      - if (feature.link == nil)
                        = feature.title
                      - if (feature.description != "" && feature.description != nil)
                        %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}
      - data.gitlab_com.prices.silver_plan do |plan|
        .col-md-4.col-lg-3.col-lg-offset-0.col-md-offset-2
          .featured-item
            .edition-name.edition-enterprise
              = plan.title
            .featured-item-body
              %p.edition-description
                For teams that need more robust DevOps capabilities, compliance and faster support.
              .edition-pricing
                %h2.col-md-6.featured-item-headline
                  = plan.monthly
                %h3.col-md-6.featured-item-headline-small
                  per user
                  %br
                  per month
                %h4.col-md-12.featured-item-headline-smaller
                  paid annually at
                  = plan.yearly
              .edition-actions
                = link_to plan.link_text, plan.link, class: "btn cta-btn red primary"
              = link_to "View More ", "#silver-plan", class: "featured-item-expand"
              %ul#silver-plan.featured-item-list.list-unstyled
                %li.item-description
                  %strong
                    All features from Bronze and:
                %li.line-separator
                %li.item-description
                  = plan.description
                - data.features.features.each do |feature|
                  - if (feature.gitlab_ees == false && feature.gitlab_eep == true && feature.gitlab_com != false)
                    %li.line-separator
                    %li.item-description
                      - if (feature.link != nil)
                        = link_to feature.title, feature.link
                      - if (feature.link == nil)
                        = feature.title
                      - if (feature.description != "" && feature.description != nil)
                        %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}
      - data.gitlab_com.prices.gold_plan do |plan|
        .col-md-4.col-lg-3.col-lg-offset-0.col-md-offset-2
          .featured-item
            .edition-name.edition-enterprise
              = plan.title
            .featured-item-body
              %p.edition-description
                Great with many CI/CD jobs. Every public project get the features of gold for free irrespective of their plan.
              .edition-pricing
                %h2.col-md-6.featured-item-headline
                  = plan.monthly
                %h3.col-md-6.featured-item-headline-small
                  per user
                  %br
                  per month
                %h4.col-md-12.featured-item-headline-smaller
                  paid annually at
                  = plan.yearly
              .edition-actions
                = link_to plan.link_text, plan.link, class: "btn cta-btn red primary"
              = link_to "View More ", "#gold-plan", class: "featured-item-expand"
              %ul#gold-plan.featured-item-list.list-unstyled
                %li.item-description
                  %strong
                    All features from Silver and:
                %li.line-separator
                %li.item-description
                  = plan.description
                - data.features.features.each do |feature|
                  - if (feature.gitlab_ees == false && feature.gitlab_eep == false && feature.gitlab_eeu == true && feature.gitlab_com != false)
                    %li.line-separator
                    %li.item-description
                      - if (feature.link != nil)
                        = link_to feature.title, feature.link
                      - if (feature.link == nil)
                        = feature.title
                      - if (feature.description != "" && feature.description != nil)
                        %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}

    = link_to "Contact Us", "https://about.gitlab.com/sales/", class: "featured-item-button contact-us-button"

.content-container.no-display-on-mobile
  .container
    %h2.faq-title.light.text-center
      Feature Comparison
    .comparison-page-content.comparison.gray-bg#comparison
      = partial "includes/features/table", locals: { product_one: data.features.competitors.gitlab_ce, product_two: data.features.competitors.gitlab_ees, product_three: data.features.competitors.gitlab_eep, key_one: 'gitlab_ce', key_two: 'gitlab_ees', key_three: 'gitlab_eep', name_one: 'Free', name_two: 'Bronze', name_three: 'Silver', gitlab_com_features: true }
    .text-center
      = link_to "Contact Us", "https://about.gitlab.com/sales/", class: "featured-item-button contact-us-button"

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      %a{ :name => "faq" }
      Frequently Asked Questions
    .faq-holder.clearfix
      - size = (data.gitlab_com.questions.size / Float(2)).ceil
      - data.gitlab_com.questions.each_slice(size).to_a.each_with_index do |group, i|
        - if (i == 1)
          = partial "includes/layout/question_group_with_yield", locals: { group: group } do
            %li.faq-item
              .faq-inner-item
                %a.faq-question.js-faq-question{ href: "#" }
                  What features do not apply to GitLab.com?
                  %i.fa.fa-angle-down.pull-right
                .faq-answer
                  The following features do not apply to GitLab.com:
                  %ul
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_com == false)
                        %li
                          = feature.title
        - else
          = partial "includes/layout/question_group", locals: { group: group }
    .text-center
      = link_to "Contact Us", "https://about.gitlab.com/sales/", class: "featured-item-button contact-us-button"
