:markdown
  ## Responsibilities

  - Engage with our customers — anything from a small advertising firm or a university, to Fortune 100 clients
     - Triage customer issues, debug, and find workarounds if possible
     - Communicate via email and video conferencing with potential and current clients
     - Prepare and provide customer training, and make the training materials widely available
  - Improve GitLab through customer interaction
     - Submit and comment on bug reports and feature requests based on customer interactions
     - Create or update documentation based on customer interactions
     - Engage with the development team to escalate bugs, solve problems, or obtain missing information
  - Participate in the on-call rotation to provide 24/7 emergency customer response
  - Ensure the knowledge we gain from running GitLab.com is shared with customers and users
  - Maintain good ticket performance and satisfaction
  - Meet or exceed SLA times consistently
  - Reliably respond to on-call emergencies

  More information can be found on the [support page in the handbook](https://about.gitlab.com/handbook/support/).
